.slide-show {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 3fr;
    width: 100%;
    height: 100%;
    grid-template-areas: "sidebar header"
                         "sidebar content";

}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}