.slide-show {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "sidebar header"
                         "sidebar content";
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 100%;
}

.sidebar a {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.content-section {
    grid-area: content;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

.slide-content {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.index-link {
    text-decoration: none;
    color: inherit;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (width < 600px) {
    .slide-show {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 5fr auto;
        grid-template-areas: "header"
                             "content"
                             "sidebar";
        overscroll-behavior-y: none;
    }
}