.slide-show {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "sidebar header"
        "sidebar content";
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 100%;
}

.sidebar a {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.content-section {
    grid-area: content;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    display: none;
}

.slide-content {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.index-link {
    text-decoration: none;
    color: inherit;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and not (orientation: landscape) {
    .slide-show {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 5fr auto;
        grid-template-areas: "header"
            "content"
            "sidebar";
        overscroll-behavior-y: none;
    }
}

@media print {
    .slide-show {
        grid-template-columns: 0 100%;
        grid-template-rows: 0 100%;
        width: 29.7cm;
        height: 21cm;
    }

    .content-section {
        overflow-y: visible;
    }

    .slide-content {
        width: 29.7cm;
        height: 21cm;
        aspect-ratio: auto;
    }

    .slide-content:not(:first-child) {
        break-before: always;
        page-break-before: always;
    }

    @page {
        size: A4 landscape;
        margin: 0;
    }
}