* {
  margin: 0;
}

:root {
  font-family: 'Cascadia', monospace;
  font-size: 20px;
}

@media screen and (width < 1200px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (width < 900px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (width < 750px) {
  :root {
    font-size: 10px;
  }
}

@media screen and (width < 550px) {
  :root {
    font-size: 8px;
  }
}

body {
  margin: 0;
  background-color: #002;
}

.slide-show {
  border-radius: .5rem;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: min(90%, 1250px);
}

.slide-show .content {
  aspect-ratio: 16 / 9;
}

.slide-show .slide {
  box-sizing: border-box;
  padding: 1.75rem 2.5rem;
  background-color: #cdf2f4;
}

.slide-show .header {
  font-size: 2rem;
  font-weight: bold;
}

.slide-show .sidebar {
  font-size: .9rem;
}

.slide.title {
  gap: 1rem;
  background-color: #cdf2f4;
}

.slide.title h1 {
  font-size: 3rem;
}

.slide.title h2 {
  font-size: 2.25rem;
}

.slide.title h3 {
  font-size: 1.75rem;
}

.index-link {
  padding: 0 1rem;
}

.sidebar, .header {
  background-color: #228;
  color: white;
  transition: background-color 200ms, color 200ms;
}

.slide-show[data-current="introduction"] .sidebar, .slide-show[data-current="introduction"] .header {
  color: black;
  background-color: #5aa;
}

.slide-show[data-current="introduction"] .header {
  background-color: #499;
}

.index-link.current {
  background-color: #fff5;
}

.flex-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills {
  justify-content: space-evenly;
  gap: .75rem;
  font-size: 1.5rem;
}

.skills > div {
  padding: 1rem 0;
  background-color: #fff5;
  border-radius: .5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.skills > div > span {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.1rem;
}

.skills > div > span:nth-child(2):nth-last-child(2) {
  border-right: solid black .15rem;
  padding-right: .5rem;
  margin-right: .5rem;
}

.skills > div > span:nth-child(3):last-child {
  font-size: .75rem;
  font-weight: normal;
  text-decoration: none;
}

.skills > div > img {
  width: 3rem;
  margin: 0 1.25rem;
}

#esperiences .link-esperienza {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#esperiences .link-esperienza a {
  padding: 3rem 0;
  background-color: #fff6;
  transition: background-color 250ms;
  font-size: 1.25rem;
  border-radius: .5rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
}

#esperiences .link-esperienza a:hover {
  background-color: #fffa;
}

.esperienza {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.esperienza>div {
  flex-basis: calc(50% - 0.5em);
  background-color: #fff6;
  display: flex;
  align-items: center;
  border-radius: .5rem;
  box-sizing: border-box;
  padding: .75rem;
  gap: .75rem;
}

.esperienza>div>img {
  height: 3.5rem;
  margin: 0 1.25rem;
}

@media print {

  .slide-show {
    border-radius: 0;
    overflow: visible;
    margin: 0;
    position: static;
    top: 0;
    left: 0;
    translate: 0 0;
  }

  html, body {
    height: 99%;
  }
}