* {
  margin: 0;
}

:root {
  font-family: 'Cascadia Code', monospace;
}

body {
  margin: 0;
  background-color: #002;
}

.slide-show {
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: min(90%, 1250px);
}

.slide-show .content {
  aspect-ratio: 16 / 9;
}

.slide-show .slide {
  box-sizing: border-box;
  padding: 35px 50px;
  background-color: #cdf2f4;
}

.slide-show .header {
  font-size: 30px;
  font-weight: bold;
}

.slide.title {
  gap: 1em;
  background-color: #cdf2f4;
}

.slide.title h1 {
  font-size: 3em;
}

.slide.title h2 {
  font-size: 2.25em;
}

.slide.title h3 {
  font-size: 1.75em;
}

.index-link {
  padding: 0 15px;
}

.sidebar, .header {
  background-color: #228;
  color: white;
  transition: background-color 200ms, color 200ms;
}

.slide-show[data-current="intro"] .sidebar, .slide-show[data-current="intro"] .header {
  color: black;
  background-color: #5aa;
}

.slide-show[data-current="intro"] .header {
  background-color: #499;
}

.index-link.current {
  background-color: #fff5;
}

.flex-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills {
  justify-content: space-evenly;
  gap: .75em;
  font-size: 1.5em;
}

.skills > div {
  padding: 25px 0;
  background-color: #fff5;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.skills > div > span {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.1em;
}

.skills > div > span:nth-child(2):nth-last-child(2) {
  border-right: solid black 2px;
  padding-right: 10px;
  margin-right: 10px;
}

.skills > div > span:nth-child(3):last-child {
  font-size: .75em;
  font-weight: normal;
  text-decoration: none;
}

.skills > div > img {
  width: 50px;
  margin: 0 25px;
}