* {
  margin: 0;
}

:root {
  font-family: 'Cascadia Code', monospace;
  font-size: 20px;
  --presentation-size: 1150px;
}

@media screen and (900px <= width < 1200px), screen and (500px <= height < 700px) {
  :root {
    font-size: 16px;
    --presentation-size: 850px;
  }
}

@media screen and (750px <= width < 900px), screen and (400px <= height < 500px) {
  :root {
    font-size: 12px;
    --presentation-size: 700px;
  }
}

@media screen and (550px <= width < 750px), screen and (300px <= height < 400px) {
  :root {
    font-size: 10px;
    --presentation-size: 500px;
  }
}

@media screen and (width < 550px), screen and (height < 300px) {
  :root {
    font-size: 8px;
    --presentation-size: 400px;
  }
}

body {
  margin: 0;
  background-color: #002;
}

.slide-show {
  border-radius: .5rem;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: var(--presentation-size);
  aspect-ratio: 16 / 9;
  --frame-background-color: #601a7e;
  --frame-color: #f9ebfe;
  --slide-background-color: #e7d2ef;
  --slide-highlight-background-color: #fff5;
  --slide-highlight-color: black;
  --slide-highlight-border-color: #601a7e;
  --slide-highlight-background-color-hover: #fffa;
  --title-color: #3d0c53;
}

h1, h2, h3 {
  color: var(--title-color);
}

.slide-show .content {
  aspect-ratio: 16 / 9;
}

.slide-show .slide {
  box-sizing: border-box;
  padding: 1.75rem 2.5rem;
  background-color: var(--slide-background-color);
}

.slide-show .header {
  font-size: 2rem;
  font-weight: bold;
}

.slide-show .sidebar {
  font-size: .9rem;
}

.slide.title {
  gap: 1rem;
}

.slide.title h1 {
  font-size: 3rem;
}

.slide.title h2 {
  font-size: 2.25rem;
}

.slide.title h3 {
  font-size: 1.75rem;
}

.slide img {
  filter: var(--image-filter);
}

.index-link {
  padding: .5rem 1rem;
  transition: background-color linear 250ms, font-weight linear 250ms;
}

.sidebar,
.header {
  background-color: var(--frame-background-color);
  color: var(--frame-color);
  transition: background-color 250ms, color 250ms;
}

.header {
  border-left: .1rem solid #0002;
}

#fainelli-gandhi {
  background: linear-gradient(185deg, #e7d2ef, #e7d2ef 15%, #fff9d0 50%, #fff9d0);
}

#elettrone {
  background: linear-gradient(175deg, #fff9d0, #fff9d0 15%, #F5F5F7 50%, #F5F5F7);
}

#considerations {
  background: linear-gradient(185deg, #F5F5F7, #F5F5F7 15%, #e7d2ef 50%, #e7d2ef);
}

.slide-show[data-current*="elettrone"] {
  --frame-color: white;
  --frame-background-color: #0283C2;
}

.slide-show[data-current*="fainelli-gandhi"] {
  --frame-color: white;
  --frame-background-color: #89500f;
}

.slide.elettrone {
  --slide-background-color: #F5F5F7;
  --slide-highlight-border-color: #0283C2;
  --slide-highlight-background-color: #2ca3df99;
  --slide-highlight-color: #F5F5F7;
  --title-color: #0b4f70;
  --image-filter: invert(.95);
}

.slide.fainelli-gandhi {
  --slide-background-color: #fff9d0;
  --slide-highlight-border-color: #89500f;
  --slide-highlight-background-color: #89500f99;
  --slide-highlight-color: #fff9d0;
  --title-color: #5a350c;
  --image-filter: invert(.95) sepia(100%);
}

.index-link:hover {
  background-color: #fff4;
}

.index-link.current {
  background-color: #fff6;
  font-weight: bold;
}

.highlight {
  background-color: var(--slide-highlight-background-color);
  transition: background-color 250ms;
  border: solid .1rem var(--slide-highlight-border-color);
  color: var(--slide-highlight-color);
  border-radius: .5rem;
}

a.highlight:hover {
  background-color: var(--slide-highlight-background-color-hover);
}

.flex-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills {
  justify-content: space-evenly;
  gap: .75rem;
  font-size: 1.5rem;
}

.skills>div {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.skills>div>span {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.1rem;
}

.skills>div>span:nth-child(2):nth-last-child(2) {
  border-right: solid var(--slide-highlight-color) .15rem;
  padding-right: .5rem;
  margin-right: .5rem;
}

.skills>div>span:nth-child(3):last-child {
  font-size: .75rem;
  font-weight: normal;
  text-decoration: none;
}

.skills>div>img {
  width: 3rem;
  margin: 0 1.25rem;
}

#experiences .link-esperienza {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#experiences .link-esperienza a {
  padding: 3rem 0;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
}

.esperienza {
  display: flex;
  align-items: center;
  font-size: 1.05rem;
}

.esperienza>.caratteristiche {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
  width: 100%;
  height: 65%;
}

.esperienza>.caratteristiche>div {
  flex-basis: calc(50% - 0.5em);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: .75rem;
  gap: .75rem;
}

.esperienza>.caratteristiche>div:last-child:nth-child(2n+1) {
  flex-basis: 75%;
}

.esperienza>.caratteristiche>div>img {
  height: 3rem;
  margin: 0 .25em;
}

.mansioni {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.mansioni>div {
  width: 100%;
  height: 75%;
  display: flex;
  gap: 1rem;
}

.mansione {
  padding: 1rem;
  flex: 1 1 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.mansione img {
  width: 50%;
}

.value {
  display: flex;
  align-items: center;
  font-size: 1.05rem;
}

.value>div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
  width: 100%;
  height: 65%;
}

.value>div>div {
  flex-basis: calc(50% - 0.5em);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: .75rem;
  gap: .75rem;
}

.value>div>div>img {
  height: 3rem;
  margin: 0 .25em;
}

@media print {
  .slide-show {
    border-radius: 0;
    overflow: visible;
    margin: 0;
    position: static;
    top: 0;
    left: 0;
    translate: 0 0;
  }

  :root {
    font-size: 24px;
  }
}

@font-face {
  font-family: 'Cascadia Code';
  src: local('Cascadia Code'),
    url('./fonts/CascadiaCode.woff2') format('woff2'),
    url('./fonts/CascadiaCode.ttf') format('truetype');
}