* {
  position: relative;
}

:root {
  font-family: 'Cascadia Code', monospace;
}

body {
  margin: 0;
  background-color: #002;
}

.slide-show {
  border-radius: 10px;
  overflow: hidden;
}

.slide-show .slide {
  box-sizing: border-box;
  padding: 35px 50px;
  background-color: #cdf2f4;
}

.slide-show .slide * {
  margin: 0;
}

.slide-show .header {
  font-size: 30px;
  font-weight: bold;
}

.slide.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  background-color: #cdf2f4;
}

.slide.title h1 {
  font-size: 3em;
}

.slide.title h2 {
  font-size: 2.25em;
}

.slide.title h3 {
  font-size: 1.75em;
}

.index-link {
  padding: 0 15px;
}

.sidebar, .header {
  background-color: #228;
  color: white;
  transition: background-color 200ms, color 200ms;
}

.slide-show[data-current="intro"] .sidebar, .slide-show[data-current="intro"] .header {
  color: black;
  background-color: #5aa;
}

.slide-show[data-current="intro"] .header {
  background-color: #499;
}

.index-link.current {
  background-color: #fff5;
}

#esperienze .link-esperienza {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#esperienze .link-esperienza a {
  padding: 50px 0;
  background-color: #fff6;
  transition: background-color 250ms;
  font-size: 1.25em;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
}

#esperienze .link-esperienza a:hover {
  background-color: #fffa;
}

.esperienza {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.esperienza .caratteristica {
  flex-basis: calc(50% - 0.5em);
  background-color: #fff6;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
  gap: 15px;
}

.esperienza .caratteristica img {
  height: 75px;
}